/* body{
    background-color: black;
    color: white;
} */
 .left{
    width: 25vw;
 }
 .right{
    width: 75vw;
 }

.home ul li{
   width: 20px;
   list-style: none;
   
}
.lib {
   width: 20px
   
}